{
    "all": true,
    "clean": true,
    "exclude": [
        "**/*.d.ts"
    ],
    "extension": [
        ".ts",
        ".tsx"
    ],
    "include": [
        "src/**/*.ts"
    ],
    "reporter": [
        "html",
        "text",
        "text-summary"
    ],
    "require": [
        "ts-node/register",
        "babel-register"
    ]
}